/* Here we can set styles for this lab page that we don't want to effect others pages */
p{
  font-weight: bold;
  font-size: 100%;
  font-style: italic;
  color: #220080;
  font-family:'Courier New', Courier, monospace;
  padding-left: 15px;
  padding-right: 15px;
}

footer {
  font-weight: bold;
  font-size: 120%;
  font-style: italic;
  color:antiquewhite;
  font-family:'Courier New', Courier, monospace
  text-align: center;

}

body{
  background-color: #c0f4f5;
  border-bottom-color:rgb(35, 128, 128);
  border-style: inset;
  }

  h1 {
    color: rgb(201, 121, 51);
    font-size: 200%;
    font-family: 'Courier New', Courier, monospace;
  }

  p {
    font-weight: bold;
    font-size: 120%;
    font-style: italic;
    color:#060080;
    font-family:'Courier New', Courier, monospace
  }